{{ "j2_master_groups_list="+j2_master_groups_list | string}}
{{ "j2_equipment_groups_list="+j2_equipment_groups_list | string}}
{{ "j2_icebergs_groups_list="+j2_icebergs_groups_list | string}}
{{ "j2_number_of_icebergs="+j2_number_of_icebergs }}
{{ "j2_current_iceberg="+j2_current_iceberg }}
{{ "j2_current_iceberg_number="+j2_current_iceberg_number }}
{{ "j2_current_iceberg_network="+j2_current_iceberg_network }}
{{ "j2_node_main_network="+j2_node_main_network }}
{{ "j2_node_main_network_interface="+j2_node_main_network_interface }}
